<div class="row">
  <div class="col-md-6 offset-md-3">
    <%# <%= render partial: "movies/movie_card", locals: {movie: @movie} %> 

    <%# now because of the to_partial_path method in the model we ca shortcut: %>

   <%# used with _movie_card partial:  %>
    <%# <%= render @movie, movie: @movie %>

    <%# with just movie partial: %>
    <%= render @movie %>

  </div>
</div>

          <div>
            <div>
              <%= link_to "Go back", movies_path %>
            </div>

            <div>
              <%= link_to "Edit Movie", edit_movie_path(@movie) %>
            </div>

            <div>
              <%= link_to "Delete Movie", @movie, method: :delete %>
            </div>
          </div>
