<!DOCTYPE html>
<html>
  <head>
  <%# meta charset needs to be first! %>
    <meta charset="utf-8"> 
    <title>Helper Methods 3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "shared/cdn_assets" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="container mt-4">
      <%= render partial: "shared/flash_messages" %>
      <%= yield %>
    </div>
  </body>
</html>
